<h1>{{title}}</h1>
<p>Добро пожаловать в {{greet}}!</p>

<form name="deleteForm">
<input type="text" name="username">
<button>Delete</button>
</form>

<div id="resultDiv"></div>

<script defer src="/js/script.js"></script>
